body {
  background-image: background.jpg;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-repeat: no-repeat;
  background-size: cover;
}
.navigasi img {
    background-color: #293e46;
    padding: 3px;
    border-radius: 50%;
    float: left;
    width: 70px;
    height: 70px;
}
.navigasi ul {
    font-size: 3;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #e4f9f5;
}
.navigasi li {
    float: right;
}
.navigasi li a {
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
    display: block;
    color: #293e46;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigasi li a:hover {
    background-color: #c5cacd;
}
.programmer {
    margin-top: 50px;
    width: 500px;
    height: 500px;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.media-sosial {
  background-color: #e4f9f5;
}
.media-sosial a {
    font-family: 'Barlow', sans-serif;
    color: #11999e;
    padding: 10px;
    font-size: 20px;
    margin: 8px 10px;
}
.profile img {
    background-color: #293e46;
    padding: 5px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 100px;
    transition: transform 0.25s ease;
}
.riwayat-pendidikan {
  width: 50%;
  margin: 70px auto;
  text-align: left;
}
.mata-kuliah {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.organisasi {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.organisasi img {
  width: 25%;
  float: left;
  margin-left: 30px;
}

.pendidikan img{
  width: 25%;
  float: right;
  margin-right: : 30px;
}
.kuliah img{
  width: 25%;
  float: right;
  margin-right: : 30px;
}

.contact {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
footer {
    text-align: center;
    background-color: #e4f9f5;
    padding: 30px;
}
footer a{
    text-decoration: none;
}

.navigasi-bawah {
    margin-bottom: 15px;
}
.navigasi-bawah a {
    font-family: 'Barlow', sans-serif;
    color: #11999e;
    padding: 10px;
    font-size: 20px;
    margin: 8px 5px;
}
.navigasi-bawah a: hover{
    background-color: #e4f9f5;
}